.profile__edit-button {
  grid-area: button;
  margin: 37px 0 0 0;
  box-sizing: border-box;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  background-color: #000;
  background-image: url("../../../images/edit-icon.svg");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
  transition: opacity .3s linear;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 635px) {
  .profile__edit-button {
    margin: 33px 0 0 0;
    width: 18px;
    height: 18px;
    background-size: 8px 8px;
  }
}
