.profile__add-button {
  margin: 0 0 0 30px;
  box-sizing: border-box;
  border: 2px solid #fff;
  width: 150px;
  height: 50px;
  border-radius: 2px;
  background-color: #000;
  background-image: url("../../../images/add-icon.svg");
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
  transition: opacity .3s linear;
}

.profile__add-button:hover {
  opacity: .6;
}
