.edit-form__submit-button {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  background-color: #000;
  border: none;
  transition: opacity .25s linear;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;

}

.edit-form__submit-button:hover {
  opacity: .8;
}
