@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__header/page__header.css);
@import url(../blocks/page/__content/page__content.css);
@import url(../blocks/page/__footer/page__footer.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__line/header__line.css);
@import url(../blocks/content/content.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
