.element__like-button {
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  background-size: cover;
  justify-self: center;
  background-image: url("../../../images/like-disabled-icon.svg");
  opacity: 1;
  transition: opacity .25s linear;
}

.element__like-button:hover {
  opacity: .5;
}
