.edit-form__item {
  border: 0;
  outline: none;
  padding-bottom: 11px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
  height: 27px;
  box-sizing: border-box;
  background-color: transparent;
  margin-top: 30px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
}
