.element {
  width: 282px;
  height: 361px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-areas: "img img"
                       "title like";
  grid-template-columns: 220px auto;
  grid-template-rows: 282px auto;
  align-items: center;
}
